<cloud-title>Sign in to Pizza Cloud</cloud-title>

<p style="font-weight: bold; color: red;">
  Функции входа и безопасности этой версии Pizza Cloud недоступны, это
  еще реализовано. Представленные ниже формы абсолютно ничего не делают... пока.
  Следите за обновлениями...
</p>

<group-box title="Форма входа">
  <form>
    <label id="username"><b>Username:</b></label><br/>
    <input type="text" name="username" class="formField"/><br/>
    <label id="password"><b>Password:</b></label><br/>
    <input type="password" name="password" class="formField"/><br/><br/>
    <big-button label="Войти"></big-button>
  </form>
</group-box>

<group-box title="Регистрация">
  <form>
    <label for="username"><b>Username:</b></label><br/>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Password:</b></label><br/>
    <input type="password" name="password" class="formField"/><br/><br/>
    <label for="password"><b>(verify password)</b></label><br/>
    <input type="password" name="verifyPassword" class="formField"/><br/><br/>

    <label id="fullName"><b>Full name:</b></label><br/>
    <input type="text" name="fullName" class="formField"/><br/><br/>

    <label id="street"><b>Street:</b></label><br/>
    <input type="text" name="street" class="formField"/><br/><br/>

    <label id="city"><b>City / State:</b></label><br/>
    <input type="text" name="city" class="formField"/><input type="text" name="state" class="formField"/><br/><br/>

    <label id="zipCode"><b>Zip code:</b></label><br/>
    <input type="text" size="2" name="zipCode" class="formField"/><br/><br/>

    <label id="phoneNumber"><b>Phone number:</b></label><br/>
    <input type="text" name="phoneNumber" class="formField"/><br/><br/>


    <big-button label="Зарегистироваться"></big-button>
  </form>
</group-box>
