<cloud-title>Где пицца-голод встречается с пицца-творчеством</cloud-title>

<img src="assets/Pizza_Photo.jpg" style="float:right;margin: 20px; border-radius: 20px;" />

<p></p>
<p>Мы любим пиццу. Все виды пиццы. И нам нравится творчески подходить к приготовлению наших пицц.</p>

<p>Некоторые закусочные предлагают на выбор ограниченное меню пицц.
  В Pizza Cloud мы хотим поделиться с вами радостью творчества пиццы, позволяя вам создавать свои собственные 
  из палитры свежих и вкусных ингредиентов. Хотя мы можем предложить вам попробовать некоторые из наших творений,
  настоящее удовольствие — это когда вы создаете свои собственные произведения искусства.</p>

<p>И хотя мы любим пиццу и творчество, мы предпочитаем избегать сложных математических вычислений. Вот почему
  все блюда имеют скромную цену в 4,99 доллара за штуку, независимо от того, сколько и какие ингредиенты вы выберете.</p>

<p>Нажмите <a href="design">здесь</a> чтобы сделать свой шедевр!</p>
